/*IMPORT THE LESSINS MIXIN LIBRARY*/
@import '../../lessins'; 

/*TEST MIXINS WITH YOUR STYLES IN THE SANDBOX*/
#container {
	header { #display > .block-centered(); padding:24px 0; text-align:center;
		h1 { font-size:64px; padding-bottom:24px; }
	}
	
	#stage {
		#display > .block-centered();
		padding-top:207px;
		width:500px;
		height:293px;
		#gradient > .vertical(#5c5f62, #383839);
		
		&.white {
			background:#fff;
		}
		
		.slider-frame {
			position:relative;
			#display > .block-centered();
			width:85px;
			height:29px;
			#gradient > .vertical(#2b2b2b, #404040);
			#border > .lines(1px solid #333, 1px solid #333, 1px solid #666, 1px solid #333);
			#border > .radius();
			#box > .shadow-inset(0px, 1px, 8px, 0, rgba(0,0,0,0.25));
			
			.slider-button {
				#display > .block();
				width:43px;
				height:27px;
				line-height:27px;
				background:#d37a16;
				#border > .radius();
				border:1px solid #70430e;
				#transition > .transition(all 0.25s ease-in-out);
				
				color:#fff;
				font-size:11px;
				font-weight:bold;
				text-shadow:1px 1px 2px rgba(0,0,0,0.5);
				text-align:center;
				cursor:pointer;
				
				&.on {
					margin-left:40px;
					background:#2372c6;
					border:1px solid #0f3f74;
				}
				
				&:before {
					position:absolute;
					#display > .block();
					width:43px;
					height:12px;
					background:rgba(255,255,255,0.25);
					content:'';
					#border > .radius(15px);
				}
			}
		}
	}
	
	
	#main {
		#display > .block-centered(); 
		
		#border > .lines(2px solid #fff, 2px solid #fff, 2px solid #fff, 2px solid #fff);
		#border > .radius(10px);
		
		#box > .shadow(0px, 0px, 8px, 0, rgba(0,0,0,0.5);
		
		#gradient > .vertical-three-colors();
		position:relative;
		padding:48px;
		width:650px;
		color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5);
	}
	#flexbox {
		#display > .block-centered(); 
		
		#border > .lines(2px solid #fff, 2px solid #fff, 2px solid #fff, 2px solid #fff);
		#border > .radius(10px);
		
		#box > .shadow(0px, 0px, 8px, 0, rgba(0,0,0,0.5);
		
		#gradient > .vertical-three-colors();
		position:relative;
		margin-top:24px;
		padding:48px;
		width:650px;
		color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5);
		
		#flex > .parent(horizontal, stretch, normal, justify);
		
		p { position:absolute; top:10px; left:10px; }
		
		.child {
			margin:20px;
			padding:10px;
			width:100px;
			height:50px;
			background:rgba(255,255,255,0.25); 
			
			#flex > .child(0, 1);
			
			&:first-of-type {
				#flex > .child(1, 1);
			}
			
			&:last-of-type {
				#flex > .child(2, 1);
			}
			
		}
	}
	
	.btn {
		#display > .block(); #display > .block-inline();
		#border > .radius(6px);
		
		background:none;
		
		border:1px solid #000;
		position:relative;
		margin:6px;
		padding:6px 12px;
		color:#fff;
		letter-spacing:0.15em;
		text-shadow:1px 1px 0px #000;
		text-transform:uppercase;
		
		&:before {
			#display > .block();
			#border > .radius(6px 6px 20px 20px);
			
			content:'';
			position:absolute;
			top:0; left:0;
			width:100%;
			height:55%;
			background:rgba(255,255,255,0.15);
		}
		
		&.btn_blue {
			#gradient > .vertical(rgba(0,170,239,1), rgba(0,44,61,1));
			#transition > .transition();
			border:1px solid #0080b5;
			text-shadow:1px 1px 0px #002838;
			
			&:hover {
				#gradient > .vertical(rgba(0,170,239,0), rgba(0,44,61,0));
			}
			
		}
		
	}

	/**/
	
/*	.a(@image:img-a.png) {
		url('../images/@image') top left repeat
	}
	
	.b(@image:img-b.png) {
		url('../images/@image') top left repeat
	}*/
	
	@a:url('../images/img-a.png') top left repeat;
	@b:url('../images/img-b.png') top left repeat;
	
	
	#multi-bg-box {
		#display > .block-centered();
		width:500px;
		height:250px;
		outline:5px solid #ddd;
		background:@a, @b;
	}
	
}