/*IMPORT THE LESSINS MIXIN LIBRARY*/
@import '../../lessins'; 

/*TEST MIXINS WITH YOUR STYLES IN THE SANDBOX*/
#container {
	header { #display > .block-centered(); padding:24px 0; text-align:center;
		h1 { font-size:64px; padding-bottom:24px; }
	}
	
	#main {
		#display > .block-centered(); 
		
		#border > .lines(2px solid #fff, 2px solid #fff, 2px solid #fff, 2px solid #fff);
		#border > .radius(10px);
		
		#box > .shadow(0px, 0px, 8px, 0, rgba(0,0,0,0.5);
		
		#gradient > .vertical-three-colors();
		
		padding:48px;
		width:650px;
		color:#fff; text-shadow:1px 1px 0 rgba(0,0,0,0.5);
		.transition(all 0.25s ease-in-out);
		
		&:hover {
			#transform > .scale(1.25);
		}
	}
}